figuras.dtd

    <!ELEMENT figuras (rectangulo*, circulo*, linea*)>
    
    <!ELEMENT rectangulo (posicion, altura, ancho)>
    <!ELEMENT circulo (posicion, radio)>
    <!ELEMENT linea (posicionorigen, posiciondestino)>

    <!ELEMENT posicion (x, y)>
    <!ELEMENT posicionorigen (x, y)>
    <!ELEMENT posiciondestino (x, y)>

    <!ELEMENT x (#PCDATA)>
    <!ELEMENT y (#PCDATA)>
    <!ELEMENT altura (#PCDATA)>
    <!ELEMENT ancho (#PCDATA)>
    <!ELEMENT radio (#PCDATA)>
